spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://postgres:5432/banking_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

opa:
  url: http://opa:8181